{% load static %}

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'account:home' %}" class="brand-link">
      <img src="{% static 'registration/adminlte/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">پنل مدیریت</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <div>
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <!-- <img src="-----------------" class="img-circle elevation-2" alt="User Image"> -->
          </div>
          <div class="info">
            <a href="#" class="d-block">{{ request.user.get_full_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
              <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-dashboard"></i>
                <p>
                  داشبوردها
                  <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'account:home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                    <i class="fa fa-list nav-icon"></i>
                    <p>لیست مقاله</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'account:articlecreate' %}" class="nav-link {% if request.resolver_match.url_name == 'articlecreate' %}active{% endif %}">
                    <i class="fa fa-edit nav-icon"></i>
                    <p>افزودن مقاله</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'account:profile'  %}" class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                    <i class="fa fa-user nav-icon"></i>
                    <p>پروفایل</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
    </div>
    <!-- /.sidebar -->
  </aside>
